<%- include("partials/header"); -%>
<div class="container">
    <form action="/admin/save_settings" method="post">
        <div class="form-group">
            <label for="">Post Limit</label>
            <input name="post_limit" class="form-control" value="<%= post_limit%>">
        </div>
    </form>
</div>
  

<%- include("partials/footer"); -%>
