<%- include("partials/header"); -%>
<!-- breadcrumb-area start -->
    <div class="breadcrumb-area ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h2 class="breadcrumb-title">Contact</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

     <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <!--====================  Conact us Section Start ====================-->
            <div class="contact-us-section-wrappaer section-space--pt_100 section-space--pb_70">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-lg-6">
                            <div class="conact-us-wrap-one mb-30">
                                <h3 class="heading">Pour touts renseignements<br> ou autres <br><span class="text-color-primary">contactez nous</span> sur les réseaux sociaux.</h3>
                                <div class="sub-heading">Nous vous ferons retour le tôt possible.
                                  <!-- <br> No more than 2 working days since receiving your issue ticket. -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-lg-6">
                            <div class="contact-form-wrap">

                                <form id="contact-form" action="/contact" method="post">
                                  <!-- http://whizthemes.com/mail-php/jowel/mitech/php/mail.php -->
                                    <!-- <form id="contact-form" action="assets/php/mail.php" method="post"> -->
                                    <div class="contact-form">
                                        <div class="contact-input">
                                            <div class="contact-inner">
                                                <input name="con_name" type="text" required="" placeholder="Nom *">
                                            </div>
                                            <div class="contact-inner">
                                                <input name="con_email" type="email" required="" placeholder="Email *">
                                            </div>
                                        </div>
                                        <div class="contact-inner">
                                            <input name="con_subject" type="text" required="" placeholder="Objet *">
                                        </div>
                                        <div class="contact-inner contact-message">
                                            <textarea name="con_message" required="" placeholder="Message"></textarea>
                                        </div> 
                                        <div class="submit-btn mt-20">
                                            <button class="ht-btn ht-btn-md" type="submit">ENVOYER</button> 
                                            <p class="form-messege"></p>
                                        </div>
                                    </div> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- <div class="full-wrap-map section-space--pt_100"> -->
                <div class="google-map">
                    <div id="googleMap-3" class="embed-responsive-item googleMap-3" ></div>
                    <!-- data-lat="40.730610" data-Long="-73.935242" -->
                </div>
            <!-- </div> -->

        </div>
<%- include("partials/footer_footer"); -%>
    </div>



  
<%- include("partials/footer"); -%>
