		<%- include("partials/header"); -%>


    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="bg-white">
                <!--============ Cybersecurity Hero Start ============-->
                <div class="cybersecurity-hero processing-hero-bg__color ">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!--baseline-->
                            <div class="col-lg-6 col-md-7">
                                <div class="cybersecurity-hero-text wow move-up">
                                    <h6>figure plans out </h6>
                                    <h3 class="font-weight--reguler mb-30">Get insights into the <span class="text-color-primary">mechanism</span> & <span class="text-color-primary">prospects</span> of cyber security technology</h3>
                                    <div class="hero-button mt-30">
                                        <a href="#" class="ht-btn ht-btn-md">Contactez Nous </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5">
                                <div class="cybersecurity-hero-images-wrap wow move-up">
                                    <div class="cybersecurity-hero-images section-space--mt_80">
                                        <div class="inner-img-one">
                                            <img class="img-fluid worldRotate" src="/static/user/images/hero/mitech-slider-cybersecurity-global-image.png" alt="">
                                        </div>
                                        <div class="inner-img-two">
                                            <img class="img-fluid  ml-5 " src="/static/user/images/hero/slider-cybersecurity-slide-01-image-01.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============ Cybersecurity Hero End ============-->
    
         <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="bg-white">
                <!-- ============ Team Member Wrapper Start =============== -->
                <div class="team-member-wrapper section-space--pt_100 section-space--pb_40">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="section-title section-space--mb_60">
                                    <h3 class="heading">Our <span class="text-color-primary">experience </span> experts</h3>
                                    <p class="text mt-30">Mitech specializes in technological and IT-related services such as product engineering, warranty management, building cloud, infrastructure, network, etc. </p>

                                    <div class="sider-title-button-box mt-30">
                                        <a href="#" class="ht-btn ht-btn-md">Join us now</a>
                                        <a href="#" class="btn-text font-weight--bold small-mt__20">View all team <i class="ml-1 button-icon far fa-long-arrow-right"></i></a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-8 ht-team-member-style-one">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="/static/user/images/team/team-member-01-370x250.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Dollie Horton </h5>
                                                    <div class="position">Marketing</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="/static/user/images/team/team-member-07-370x250.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Stephen Mearsley </h5>
                                                    <div class="position">President & CEO</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="/static/user/images/team/team-member-04-370x250.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Maggie Strickland </h5>
                                                    <div class="position">Financial Services</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="/static/user/images/team/team-member-02-370x250.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Monica Blews</h5>
                                                    <div class="position">Project manager</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============ Team Member Wrapper End =============== -->

		<%- include("partials/footer"); -%>
