		<%- include("partials/header"); -%>


    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="bg-white">
                <!--============ Cybersecurity Hero Start ============-->
                <div class="cybersecurity-hero processing-hero-bg__color ">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!--baseline-->
                            <div class="col-lg-6 col-md-7">
                                <div class="cybersecurity-hero-text wow move-up">
                                    <h6>figure plans out </h6>
                                    <h3 class="font-weight--reguler mb-30">Get insights into the <span class="text-color-primary">mechanism</span> & <span class="text-color-primary">prospects</span> of cyber security technology</h3>
                                    <div class="hero-button mt-30">
                                        <a href="/contact" class="ht-btn ht-btn-md">Contactez Nous </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5">
                                <div class="cybersecurity-hero-images-wrap wow move-up">
                                    <div class="cybersecurity-hero-images section-space--mt_80">
                                        <div class="inner-img-one">
                                            <img class="img-fluid worldRotate" src="/static/user/images/hero/mitech-slider-cybersecurity-global-image.png" alt="">
                                        </div>
                                        <div class="inner-img-two">
                                            <img class="img-fluid  ml-5 " src="/static/user/images/hero/slider-cybersecurity-slide-01-image-01.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============ Cybersecurity Hero End ============-->
                 <!-- <div class="fun-fact-wrapper section-space--ptb_120">
                <div class="container"> -->
                    <div class="row-separators-wrap particles-area  default-bg-2 separators-space py-5">
                  <div class="constellation-wrapper">
                    <div id="particles-js"></div>
                   </div>
                <div class="container">

                    <div class="row">
                        <div class="col-lg-4 offset-lg-1">
                            <div class="modern-number-01 mr-5">
                                <h2 class="heading"><span class="mark-text">38</span>Ans D'Experience</h2>
                                <h3 class="heading">A vos côtés pour  <span class="text-color-primary">vous satisfaire</span></h3>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 wow move-up">
                                    <div class="fun-fact--three text-center">
                                        <div class="fun-fact__count counter">1790</div>
                                        <h6 class="fun-fact__text">Clients</h6>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 wow move-up">
                                    <div class="fun-fact--three text-center">
                                        <div class="fun-fact__count counter">32</div>
                                        <h6 class="fun-fact__text">Projets</h6>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 wow move-up">
                                    <div class="fun-fact--three text-center">
                                        <div class="fun-fact__count counter">73</div>
                                        <h6 class="fun-fact__text">Agents Expérimentés</h6>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 wow move-up">
                                    <div class="fun-fact--three text-center">
                                        <div class="fun-fact__count counter">318</div>
                                        <h6 class="fun-fact__text">Agents Expérimentés</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                 </div>
                <div class="brand-logo-slider-area section-space--ptb_60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- brand logo slider -->
                            <div class="brand-logo-slider__container-area">
                                <div class="swiper-container brand-logo-slider__container">
                                    <div class="swiper-wrapper brand-logo-slider__four">
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/agefau.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/agetic.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/alcatel.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/astm.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/amrtp.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/camusat.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/cat.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/cfao.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/cisco.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/continuum.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/dhi.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                         <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/eltek.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                         <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/enersys.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                         <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/ericsson.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                         <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/huawei.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                         <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/logo_loga.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/mam.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/mdc.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/orange.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/nokia.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/perkins.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                         <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/powersafe.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/sagem.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/sdmo.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/smtd.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/sotelma.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/telecel.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/tecno.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="/static/user/images/brand/zte.jpg" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                       <!--===========  Projects wrapper Start =============-->
            <div class="projects-wrapper projectinfotechno-bg section-space--ptb_100">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section-title-wrap Start -->
                            <div class="section-title-wrap text-center section-space--mb_40">
                                <h6 class="section-sub-title mb-20">Case studies</h6>
                                <h3 class="heading">Proud projects <span class="text-color-primary"> make us excel</span></h3>
                            </div>
                            <!-- section-title-wrap Start -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="projects-wrap swiper-container projects-slider__container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <!-- Projects Wrap Start -->
                                        <a href="#" class="projects-wrap style-01 wow move-up">
                                            <div class="projects-image-box">
                                                <div class="projects-image">
                                                    <img class="img-fluid" src="/static/user/images/projects/case-study-01-480x298.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h6 class="heading">Mitech-Smart Vision</h6>
                                                    <div class="post-categories">Cyber Security</div>
                                                    <div class="text">At Mitech, we have a holistic and integrated approach towards core modernization to experience technological evolution.
                                                    </div>
                                                    <div class="box-projects-arrow">
                                                        <span class="button-text">View case study</span>
                                                        <i class="fa fa-long-arrow-right ml-1"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- Projects Wrap End -->
                                    </div>

                                    <div class="swiper-slide">
                                        <!-- Projects Wrap Start -->
                                        <a href="#" class="projects-wrap style-01 wow move-up">
                                            <div class="projects-image-box">
                                                <div class="projects-image">
                                                    <img class="img-fluid" src="/static/user/images/projects/case-study-02-480x298.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h6 class="heading">Arden-Internal Networking</h6>
                                                    <div class="post-categories">Cyber Security</div>
                                                    <div class="text">The prospects for a company operating in this new market are varied and exciting. The potential …
                                                    </div>
                                                    <div class="box-projects-arrow">
                                                        <span class="button-text">View case study</span>
                                                        <i class="fa fa-long-arrow-right ml-1"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- Projects Wrap End -->
                                    </div>

                                    <div class="swiper-slide">
                                        <!-- Projects Wrap Start -->
                                        <a href="#" class="projects-wrap style-01 wow move-up">
                                            <div class="projects-image-box">
                                                <div class="projects-image">
                                                    <img class="img-fluid" src="/static/user/images/projects/case-study-03-480x298.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h6 class="heading">A Freeserve case study</h6>
                                                    <div class="post-categories">Cyber Security</div>
                                                    <div class="text">The prospects for a company operating in this new market are varied and exciting. The potential …
                                                    </div>
                                                    <div class="box-projects-arrow">
                                                        <span class="button-text">View case study</span>
                                                        <i class="fa fa-long-arrow-right ml-1"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- Projects Wrap End -->
                                    </div>

                                    <div class="swiper-slide">
                                        <!-- Projects Wrap Start -->
                                        <a href="#" class="projects-wrap style-01 wow move-up">
                                            <div class="projects-image-box">
                                                <div class="projects-image">
                                                    <img class="img-fluid" src="/static/user/images/projects/case-study-04-480x298.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h6 class="heading">Aqua – Research and Energy</h6>
                                                    <div class="post-categories">Cyber Security</div>
                                                    <div class="text">The prospects for a company operating in this new market are varied and exciting. The potential …
                                                    </div>
                                                    <div class="box-projects-arrow">
                                                        <span class="button-text">View case study</span>
                                                        <i class="fa fa-long-arrow-right ml-1"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- Projects Wrap End -->
                                    </div>

                                </div>
                                <div class="swiper-pagination swiper-pagination-project mt_20"></div>
                            </div>

                            <div class="section-under-heading text-center section-space--mt_40">Challenges are just opportunities in disguise. <a href="#">Take the challenge!</a></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--===========  Projects wrapper End =============-->

        
                <!-- ============ Team Member Wrapper Start =============== -->
                <div class="team-member-wrapper section-space--pt_100 section-space--pb_40">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="section-title section-space--mb_60">
                                    <h3 class="heading">Notre Personnel <span class="text-color-primary">Experimenté </span></h3>
                                    <p class="text mt-30">Malinova a un personnel parfaitement expérimenté et disposant toutes les technologies nécessaires pour répondre à vos besoins.</p>

                                    <div class="sider-title-button-box mt-30">
                                        <a href="/contact" class="ht-btn ht-btn-md">Contactez Nous</a>
                                        <a href="/team" class="btn-text font-weight--bold small-mt__20">Voir Plus <i class="ml-1 button-icon far fa-long-arrow-right"></i></a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-8 ht-team-member-style-one">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="/static/user/images/team/team-member-01-370x250.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Dollie Horton </h5>
                                                    <div class="position">Marketing</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="/static/user/images/team/team-member-07-370x250.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Stephen Mearsley </h5>
                                                    <div class="position">President & CEO</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="/static/user/images/team/team-member-04-370x250.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Maggie Strickland </h5>
                                                    <div class="position">Financial Services</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="/static/user/images/team/team-member-02-370x250.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Monica Blews</h5>
                                                    <div class="position">Project manager</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- ============ Team Member Wrapper End =============== -->
            </div>
            <!--====================  testimonial section ====================-->
            <div class="testimonial-slider-area section-space--ptb_120 bg-gray-3">
                <div class="container-fluid container-fluid--cp-80">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-wrap text-center section-space--mb_60">
                                <!-- <h6 class="section-sub-title mb-20">Testimonials</h6> -->
                                <h3 class="heading">Que Disent Nos Heureux Clients? <span class="text-color-primary">love Mitech?</span></h3>
                            </div>
                            <div class="testimonial-slider">
                                <div class="swiper-container testimonial-slider__container-two">
                                    <div class="swiper-wrapper testimonial-slider__wrapper">
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__single wow move-up">
                                                <h6 class="testimonial-subject">The Mitech team works really hard to ensure high level of quality</h6>
                                                <div class="testimonial-slider__text">There are thousands of IT service companies in the US. But there’s nothing like @Mitech. Their popularity and reputation are just evident. </div>
                                                <div class="author-info">
                                                    <div class="testimonial-slider__media">
                                                        <img src="/static/user/images/testimonial/mitech-testimonial-avata-04-70x70.jpg" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="testimonial-slider__author">
                                                        <h6 class="name">Maggie Strickland</h6>
                                                        <span class="designation">WEB DESIGNER</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__single wow move-up">
                                                <h6 class="testimonial-subject">The Mitech team works really hard to ensure high level of quality</h6>
                                                <div class="testimonial-slider__text">I discovered @Mitech services by chance on the Internet to find a suitable IT services provider. This must be fate, not an accident at all.</div>
                                                <div class="author-info">
                                                    <div class="testimonial-slider__media">
                                                        <img src="/static/user/images/testimonial/mitech-testimonial-avata-02-70x70.jpg" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="testimonial-slider__author">
                                                        <h6 class="name">Robert Amplilian</h6>
                                                        <span class="designation">Marketing</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__single wow move-up">
                                                <h6 class="testimonial-subject">The Mitech team works really hard to ensure high level of quality</h6>
                                                <div class="testimonial-slider__text">IT service is not an easy path to follow. But these guys can make it to the top with premium services and dedicated customer support.</div>
                                                <div class="author-info">
                                                    <div class="testimonial-slider__media">
                                                        <img src="/static/user/images/testimonial/mitech-testimonial-avata-01-70x70.jpg" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="testimonial-slider__author">
                                                        <h6 class="name">Stephen Mearsley</h6>
                                                        <span class="designation">PR Officer</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__single wow move-up">
                                                <h6 class="testimonial-subject">The Mitech team works really hard to ensure high level of quality</h6>
                                                <div class="testimonial-slider__text">There are thousands of IT service companies in the US. But there’s nothing like @Mitech. Their popularity and reputation are just evident. </div>
                                                <div class="author-info">
                                                    <div class="testimonial-slider__media">
                                                        <img src="/static/user/images/testimonial/mitech-testimonial-avata-03-70x70.jpg" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="testimonial-slider__author">
                                                        <h6 class="name">Monica Blews</h6>
                                                        <span class="designation">PR Officer</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination-t0 section-space--mt_30"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  End of testimonial section  ====================-->
            
             <!--====================  Blog Section Start ====================-->
                <div class="blog-section-wrapper section-space--pt_100  section-space--pb_70 jumbotron">
                    <div class="container">
                        <div class="row">
                             <div class="col-lg-4 col-md-6 wow move-up">
                                <!--======= Single Blog Item Start ========-->
                                <div class="single-blog-item blog-grid">
                                    <!-- Post Feature Start -->
                                    <div class="post-feature blog-thumbnail">
                                        <a href="blog-post-layout-one.html">
                                            <img class="img-fluid" src="/static/user/images/blog/blog-03-370x230.jpg" alt="Blog Images">
                                        </a>
                                    </div>
                                    <!-- Post Feature End -->

                                    <!-- Post info Start -->
                                    <div class="post-info lg-blog-post-info">
                                        <div class="post-meta">
                                            <div class="post-date">
                                                <span class="far fa-calendar meta-icon"></span>
                                                February 28, 2019
                                            </div>
                                        </div>

                                        <h5 class="post-title font-weight--bold">
                                            <a href="#">5 Ways Technology Has Improved Business Today</a>
                                        </h5>

                                        <div class="post-excerpt mt-15">
                                            <p>They play a role in making operations more seamless, bridging the gap between authorities, consumers and businesses. …</p>
                                        </div>
                                        <div class="btn-text">
                                            <a href="#">Read more <i class="ml-1 button-icon far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Post info End -->
                                </div>
                                <!--===== Single Blog Item End =========-->

                            </div>


                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!--======= Single Blog Item Start ========-->
                                <div class="single-blog-item blog-grid">
                                    <!-- Post Feature Start -->
                                    <div class="post-feature blog-thumbnail">
                                        <a href="blog-post-layout-one.html">
                                            <img class="img-fluid" src="/static/user/images/blog/blog-03-370x230.jpg" alt="Blog Images">
                                        </a>
                                    </div>
                                    <!-- Post Feature End -->

                                    <!-- Post info Start -->
                                    <div class="post-info lg-blog-post-info">
                                        <div class="post-meta">
                                            <div class="post-date">
                                                <span class="far fa-calendar meta-icon"></span>
                                                February 28, 2019
                                            </div>
                                        </div>

                                        <h5 class="post-title font-weight--bold">
                                            <a href="#">5 Ways Technology Has Improved Business Today</a>
                                        </h5>

                                        <div class="post-excerpt mt-15">
                                            <p>They play a role in making operations more seamless, bridging the gap between authorities, consumers and businesses. …</p>
                                        </div>
                                        <div class="btn-text">
                                            <a href="#">Read more <i class="ml-1 button-icon far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Post info End -->
                                </div>
                                <!--===== Single Blog Item End =========-->

                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!--======= Single Blog Item Start ========-->
                                <div class="single-blog-item blog-grid">
                                    <!-- Post Feature Start -->
                                    <div class="post-feature blog-thumbnail">
                                        <a href="blog-post-layout-one.html">
                                            <img class="img-fluid" src="/static/user/images/blog/blog-02-370x230.jpg" alt="Blog Images">
                                        </a>
                                    </div>
                                    <!-- Post Feature End -->

                                    <!-- Post info Start -->
                                    <div class="post-info lg-blog-post-info">
                                        <div class="post-meta">
                                            <div class="post-date">
                                                <span class="far fa-calendar meta-icon"></span>
                                                February 28, 2019
                                            </div>
                                        </div>

                                        <h5 class="post-title font-weight--bold">
                                            <a href="#">How Wireless Technology is Changing Business</a>
                                        </h5>

                                        <div class="post-excerpt mt-15">
                                            <p>It is far wiser to do your own installations and ensure that all data flowing through the organization has end-to-end encryption. …</p>
                                        </div>
                                        <div class="btn-text">
                                            <a href="#">Read more <i class="ml-1 button-icon far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Post info End -->
                                </div>
                                <!--===== Single Blog Item End =========-->

                            </div>


                        </div>
                    </div>
                </div>
                <!--====================  Blog Section End  ====================-->
            </div>

	     	<%- include("partials/footer_footer"); -%>
             
        </div>

        <!--====================  End of footer area  ====================-->


    
		<%- include("partials/footer"); -%>
