<!DOCTYPE html>
<html class="no-js" lang="fr">


<!-- Mirrored from demo.hasthemes.com/mitech-preview/index-appointment.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Nov 2020 15:52:01 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Malinova Technology</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Language Translation -->
<script type="text/javascript">
function googleTranslateFunction(){
new google.translate.TranslateElement({pageLanguage:'fr', layout:google.translate.TranslateElement.InlineLayout.SIMPLE},'google_translate_element');
} </script>
 
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateFunction"></script>
    <!-- Favicon -->
    <!-- <link rel="icon" href="/static/user/images/favicon.png"> -->
    <!-- <link rel="icon" href="/static/user/images/logo/malinova_logo_1.png"> -->

    <!-- CSS
        ============================================ -->
    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/static/user/css/vendor/bootstrap.min.css"> --> 

    <!-- Font Family CSS -->
    <!-- <link rel="stylesheet" href="/static/user/css/vendor/cerebrisans.css"> -->

    <!-- FontAwesome CSS -->
    <!-- <link rel="stylesheet" href="/static/user/css/vendor/fontawesome-all.min.css"> -->

    <!-- Swiper slider CSS -->
    <!-- <link rel="stylesheet" href="/static/user/css/plugins/swiper.min.css"> -->

    <!-- animate-text CSS -->
    <!-- <link rel="stylesheet" href="/static/user/css/plugins/animate-text.css"> -->

    <!-- Animate CSS -->
    <!-- <link rel="stylesheet" href="/static/user/css/plugins/animate.min.css"> -->

    <!-- Light gallery CSS -->
    <!-- <link rel="stylesheet" href="/static/user/css/plugins/lightgallery.min.css"> -->

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->

    <link rel="stylesheet" href="/static/user/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/static/user/css/plugins/plugins.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/static/user/css/style.css">

</head>

<body>


   
    <div class="preloader-activate preloader-active open_tm_preloader ">
        <div class="preloader-area-wrap ">
            <div class="spinner d-flex justify-content-center align-items-center h-100 ">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>


 



    <!--====================  header area ====================-->
    <div class="header-area header-sticky only-mobile-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header position-relative">
                        <!-- brand logo -->
                        <div class="header__logo top-logo">
                            <a href="/">
                                <!-- <img src="assets/images/logo/malinova_logo_2(1).jpg" class="img-fluid" alt=""> -->
                                <img src="/static/user/images/logo/malinova_logo_1.png" class="img-fluid" alt="">
                            </a>
                        </div>

                        <div class="header-right flexible-image-slider-wrap">

                            <div class="header-right-inner" id="hidden-icon-wrapper">
                                <!-- Header Search Form -->
                                <div class="header-search-form d-md-none d-block">
                                    <form action="#" class="search-form-top">
                                        <input class="search-field" type="text" placeholder="Search…">
                                        <button class="search-submit">
                                            <i class="search-btn-icon fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>

                                <!-- Header Top Info -->
                                <div class="swiper-container header-top-info-slider-werap top-info-slider__container">
                                    <div class="swiper-wrapper header-top-info-inner default-color">
                                        <div class="swiper-slide">
                                            <div class="info-item">
                                                <div class="info-icon">
                                                    <span  class="fa fa-phone color"></span>
                                                </div>
                                                <div class="info-content">
                                                    <h6 class="info-title">Téléphone</h6>
                                                    <div class="info-sub-title">70454445 - 44905305</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="info-item">
                                                <div class="info-icon">
                                                    <span class="fa fa-map-marker-alt color"></span>
                                                </div>
                                                <div class="info-content">
                                                    <h6 class="info-title">Près De La Grande Bougie</h6>
                                                    <div class="info-sub-title">Hamdallaye ACI, MALI</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="info-item">
                                                <div class="info-icon">
                                                    <span class="fa fa-clock color"></span>
                                                </div>
                                                <div class="info-content">
                                                    <h6 class="info-title">8:00AM - 6:00PM</h6>
                                                    <div class="info-sub-title">Lundi - Vendredi</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="info-item">
                                                <div class="info-icon">
                                                    <span class="fa fa-paper-plane color"></span>
                                                </div>
                                                <div class="info-content">
                                                    <h6 class="info-title">Online 24/7</h6>
                                                    <div class="info-sub-title">contact.info@malinova.tech</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Header Social Networks -->
                                <div class="header-social-networks style-icons">
                                    <div class="inner">
                                        <a class=" social-link hint--black hint--bottom-left" aria-label="Twitter" href="https://twitter.com/malinovatechno1?s=09" data-hover="Twitter" target="_blank">
                                            <i class="social-icon fab fa-twitter"></i>
                                        </a>
                                        <a class=" social-link hint--black hint--bottom-left" aria-label="Facebook" href="https://m.facebook.com/malinovatechnology/?tsid=0.6132086943963515&source=result&refsrc=https%3A%2F%2Fm.facebook.com%2Flogin%2Fdevice-based%2Fpassword%2F&_rdr" data-hover="Facebook" target="_blank">
                                            <i class="social-icon fab fa-facebook-f"></i>
                                        <!-- </a>
                                         <a class=" social-link hint--black hint--bottom-left" aria-label="Facebook" href="https://www.facebook.com/Malinova-Technologie-104118874886242/" data-hover="Facebook" target="_blank">
                                            <i class="social-icon fab fa-facebook-f"></i>
                                        </a> -->
                                        <a class=" social-link hint--black hint--bottom-left" aria-label="Instagram" href="https://instagram.com/technologiemalinova?igshid=vnfxvxc76tk1" data-hover="Instagram" target="_blank">
                                            <i class="social-icon fab fa-instagram"></i>
                                        </a>
                                        <a class=" social-link hint--black hint--bottom-left" aria-label="Linkedin" href=" https://www.linkedin.com/in/malinova-technology-17bb73200/" data-hover="Linkedin" target="_blank">
                                            <i class="social-icon fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <!-- mobile menu -->
                            <div class="mobile-navigation-icon d-block d-xl-none" id="mobile-menu-trigger">
                                <i></i>
                            </div>
                            <!-- hidden icons menu -->
                            <div class="hidden-icons-menu d-block d-md-none" id="hidden-icon-trigger">
                                <a href="javascript:void(0)">
                                    <i class="far fa-ellipsis-h-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom-wrap bg-theme-default d-md-block d-none header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-bottom-inner">
                            <div class="header-bottom-left-wrap">
                                <!-- navigation menu -->
                                <div class="header__navigation d-none d-xl-block">
                                    <nav class="navigation-menu navigation-menu--text_white">
                                        <ul>
                                            <li class="">
                                                <a href="#"><span>Accueil</span></a>
                                                <ul class="submenu">
                                                    <li><a href="/infotechno"><span>Infotechno</span></a></li>
                                                    <li><a href="index-processing.html"><span>Processing</span></a></li>
                                                    <li><a href="index-appointment.html"><span>Appointment</span></a></li>
                                                    <li><a href="index-services.html"><span>Services</span></a></li>
                                                    <li><a href="index-resolutions.html"><span>Resolutions</span></a></li>
                                                    <li><a href="index-cybersecurity.html"><span>Cybersecurity</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children has-children--multilevel-submenu">
                                                <a href="#"><span>Entreprise</span></a>
                                                <ul class="submenu">
                                                    <!-- <li class="has-children">
                                                        <a href="about-us-01.html"><span>A propos</span></a>
                                                        <ul class="submenu">
                                                            <li><a href="about-us-01.html"><span>About us 01</span></a></li>
                                                            <li><a href="about-us-02.html"><span>About us 02</span></a></li>
                                                            <li class="has-children">
                                                                <a href="#"><span>Submenu Level Two</span></a>
                                                                <ul class="submenu">
                                                                    <li><a href="#"><span>Submenu Level Three</span></a></li>
                                                                    <li><a href="#"><span>Submenu Level Three</span></a></li>
                                                                    <li><a href="#"><span>Submenu Level Three</span></a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li> -->
                                                    <li><a href="contact-us.html"><span>A Propos</span></a></li>
                                                    <li><a href="leadership.html"><span>Notre Histoire</span></a></li>
                                                    <li><a href="why-choose-us.html"><span>Notre Vision</span></a></li>
                                                    <li><a href="our-history.html"><span>Nos Clients</span></a></li>
                                                    <!-- <li><a href="faqs.html"><span>FAQs</span></a></li>
                                                    <li><a href="careers.html"><span>Careers</span></a></li>
                                                    <li><a href="pricing-plans.html"><span>Pricing plans</span></a></li> -->
                                                </ul>
                                            </li>
                                            <li class="has-children has-children--multilevel-submenu">
                                                <a href="#"><span>Solutions</span></a>
                                                <ul class="submenu">
                                                    <li><a href="it-services.html"><span>Smart Cities</span></a></li>
                                                    <li><a href="managed-it-service.html"><span>Novanet</span></a></li>
                                                    <!-- <li><a href="industries.html"><span>Industries</span></a></li> -->
                                                    <li><a href="business-solution.html"><span>La Mobilité Entreprise</span></a></li>
                                                    <!-- <li><a href="it-services-details.html"><span>IT Services Details</span></a></li> -->
                                                </ul>
                                            </li>
                                            
                                            <li class="has-children has-children--multilevel-submenu">
                                                <a href="#"><span>Services</span></a>
                                                <!-- multilevel submenu -->
                                                <ul class="submenu">
                                                    <li><a href="case-studies.html"><span>Infrastructures Télécoms</span></a></li>
                                                    <li><a href="case-studies-02.html"><span>Maintenance</span></a></li>
                                                    <li><a href="single-smart-vision.html"><span>Audit</span></a></li>
                                                    <li><a href="single-smart-vision.html"><span>Génie Civil</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="/blog"><span>Partenaires</span></a>
                                                <!-- multilevel submenu -->
                                                <!-- <ul class="submenu">
                                                    <li><a href="blog-list-large-image.html"><span>List Large Image</span></a></li>
                                                    <li><a href="blog-list-left-large-image.html"><span>Left Large Image</span></a></li>
                                                    <li><a href="blog-grid-classic.html"><span>Grid Classic</span></a></li>
                                                    <li><a href="blog-grid-masonry.html"><span>Grid Masonry</span></a></li>
                                                    <li class="has-children">
                                                        <a href="blog-post-layout-one.html"><span>Single Layouts</span></a>
                                                        <ul class="submenu">
                                                            <li><a href="blog-post-layout-one.html"><span>Left Sidebar</span></a></li>
                                                            <li><a href="blog-post-right-sidebar.html"><span>Right Sidebar</span></a></li>
                                                            <li><a href="blog-post-no-sidebar.html"><span>No Sidebar</span></a></li>
                                                        </ul>
                                                    </li>
                                                </ul> -->
                                            </li>
                                            <li class="">
                                                <a href="/contact"><span>Contactez-Nous</span></a>
                                                <!-- multilevel submenu -->
                                                <!-- <ul class="submenu">
                                                    <li><a href="blog-list-large-image.html"><span>List Large Image</span></a></li>
                                                    <li><a href="blog-list-left-large-image.html"><span>Left Large Image</span></a></li>
                                                    <li><a href="blog-grid-classic.html"><span>Grid Classic</span></a></li>
                                                    <li><a href="blog-grid-masonry.html"><span>Grid Masonry</span></a></li>
                                                    <li class="has-children">
                                                        <a href="blog-post-layout-one.html"><span>Single Layouts</span></a>
                                                        <ul class="submenu">
                                                            <li><a href="blog-post-layout-one.html"><span>Left Sidebar</span></a></li>
                                                            <li><a href="blog-post-right-sidebar.html"><span>Right Sidebar</span></a></li>
                                                            <li><a href="blog-post-no-sidebar.html"><span>No Sidebar</span></a></li>
                                                        </ul>
                                                    </li>
                                                </ul> -->
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                             <div class="language-menu" id="google_translate_element">
                                        <!-- <ul>
                                            <li>
                                                <a href="#" class="">
                                                            <img class="ls-flag" name="language" value="fr" selected src="/static/user/images/flags/fr.png" alt="fr" title="Français"><span class="wpml-ls-native">Français</span>
                                                        </a>
                                                

                                                <ul class="ls-sub-menu">
                                                    <li class="">
                                                        <a href="#" class="">
                                                    <img class="ls-flag" name="language" value="en" src="/static/user/images/flags/en.png" alt="en" title="English">
                                                    <span class="wpml-ls-native">English</span>
                                                </a>
                                                    </li> -->
                                                    <!-- <li class="">
                                                        <a href="#" class="">
                                                            <img class="wpml-ls-flag" src="/static/user/images/flags/de.png" alt="de" title="Deutsch"><span class="wpml-ls-native">Deutsch</span>
                                                        </a>
                                                    </li> -->

                                                <!-- </ul>

                                            </li>

                                        </ul> -->
                                    </div>

                            <div class="header-search-form ">
                                <form action="#" class="search-form-top style-03 ">
                                    <input class="search-field" type="text" placeholder="Search…">
                                    <button class="search-submit">
                                        <i class="search-btn-icon fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--====================  End of header area  ====================-->
